queue = off # queue name to submit jobs. "off" for local mode.
ref = off
hdl = yes
keep_log = everything

#soft_config = NDS_BTB_SUPPORT=1 
default_config = "" # provide empty default_config to disable soft_config expansion in lint_prepare_test_pattern

prolog_cmd = lint_prepare_test_pattern
epilog_cmd = lint_check_results
hdl_cmd = run_lint -top-module atcbmc300 -lintTop system.bmc300 -f flist

